.site-statistic-demo-card {
    padding: 30px;
    background: #ececec;
}

// [data-theme="dark"] .site-statistic-demo-card {
//     background: #303030;
// }
.root {
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}